.product-form-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://png.pngtree.com/thumb_back/fw800/background/20230610/pngtree-several-fresh-vegetables-and-fruits-are-laid-out-on-a-wooden-image_2899224.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-form {
  width: 1000px;
  max-width: 1000px;
  height: 470px;
  background-color: rgba(170, 170, 170, 0.2); /* Hoàn toàn trong suốt */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 30px 20px;
}

.product-form h2 {
  margin-bottom: 40px;
  color: aliceblue;
}

.product-form p {
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product-form input[type="text"] {
  font-size: 1.6rem;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 100%;
}

.product-form input[type="text"]::placeholder {
  color: #aaa;
}

.product-form button {
  margin-top: 1.5rem;
  height: 50px;
  width: 30%;
  font-size: 18px;
  line-height: 20px;
  padding: 1rem;
  border-radius: 15px;
  border: none;
  background-color: #04d800;
  color: white;
  cursor: pointer;
}

.product-form button:hover {
  background-color: #00b336;
}

@media (max-width: 1200px) {
  .product-form {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .product-form {
    width: 90%;
    height: auto;
    padding: 1rem;
  }

  .product-form button {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 480px) {
  .product-form {
    width: 95%;
    padding: 0.5rem;
  }

  .product-form button {
    width: 70%;
  }
}

.error-message {
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-top: 5px;
}
